
/*These styles override the universal styles for header based on the services page*/
.header{
    height: 2.9vw;
    overflow: visible;
}



/*Desktop query*/
@media only screen and (min-width: 600px){

.mainContent p{
    text-align: center;
    margin: 5%;
}


.servicesFlexBoxCont{
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.serviceCont{
    border: 2px solid red;
    width: 25%;
}

.serviceCont h3{
    text-align: center;
}

.serviceCont p{
    text-align: center;
    margin: 5%;
}


}